
.video-grid{
  font-family: Roboto,Arial;
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  column-gap:1rem;
  row-gap:40px;
}
@media(min-width:1000px){
  .video-grid{
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
}
@media(min-width:751px) and (max-width:999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media(max-width:900px){
  .video-grid{
    grid-template-columns:1fr 1fr;
  }
}
/* .video-preview{
  display:inline-block;
  margin-right:15px;
  vertical-align:top;
}
*/
.thumbnail-row{
  margin-bottom:8px;
  width:100%;
  position:relative;
}
.thumbnail{
  width:100%;
}
.video-time{
 background-color:black;
 font-family:Roboto,Arial;
 font-size:12px;
 font-weight:500;
 padding:4px 4px;
 color:white;
 position:absolute;
 bottom:8px;
 right:5px;
 border-radius:2px;
}
.video-info-grid{
  display:grid;
  grid-template-columns:50px 1fr;
}
/* .channel-picture{
  width:50px;
  display:inline-block;
  vertical-align:top;
  background-color:grey;
}
.video-info{
  display:inline-block;
  background-color:grey;
  width:245px;
}
*/
.profile-picture{
  width:36px;
  border-radius:25px;

}
.video-title{
  margin-top:0;
  font-size:14px;
  font-weight:500;
  line-height:20px;
  margin-bottom:10px;
  /*width:250px;*/
}
.author,.stats{
  font-size:12px;
  color:rgb(96,96,96);
  margin-bottom:4px;
}